body {
    font-family: 'Open Sans', sans-serif;
  }
  .jumbotron {
    color: black;
    background-image: url(../Images/atmosphere-beautiful-blue-695657.jpg);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif JP', sans-serif;
  } 
  
  .media-background {
    background-color: skyblue;
    background-image: url(../Images/4k-wallpaper-blue-sky-blur-281260.jpg);
  }
  
  /* media query */
  @media screen and (max-width: 768px) {
  
    .media-background {
      background-color: aquamarine;
    }
  
  }